body {
  font-family: sans-serif;
  background: #f4f4f4;
  color: #333;
  margin: 2rem;
}

.book-container {
  max-width: 600px;
  margin: auto;
}

form,
.controls {
  margin-bottom: 1rem;
}

input {
  margin: 0.2rem;
  padding: 0.4rem;
}

button {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#bookList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-card {
  background: rgb(231, 226, 226);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #f5f5f5;
  color: #222;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #444444;
  color: #181717;
}

.dark-mode h1 {
  color: #ffffff;
}
.dark-mode label {
  color: #dddddd;
}

.dark-mode .book-card {
  background: #322f2f;
  box-shadow: 0 0 10px rgba(19, 18, 18, 0.1);
}
.dark-mode input {
  background: #3a3a3a;
  color: #f0f0f0;
  border: 1px solid #555555;
}

.dark-mode div {
  background: #444444;

  border: none;
}
